@using Microsoft.AspNetCore.Identity
 @inject SignInManager<IdentityUser> SignInManager 
 @inject UserManager<IdentityUser> UserManager 

<ul class="navbar-nav d-flex align-items-center">
@if (SignInManager.IsSignedIn(User))
 { 
     <li class="nav-item"> 
        <a  class="nav-link text-dark" asp-area="identity" asp-page="/account/manage/index" title="manage">hello @User.Identity?.Name!</a> 
     </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Profile" asp-action="Index">Profile</a>
        </li>

    <li class="nav-item">
        <form  class="form-inline" asp-area="identity" asp-page="/account/logout" asp-route-returnurl="@Url.Action("index", "home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">logout</button>
        </form> 
     </li>
}
else
{
    <li class="nav-item"> 
         <a class="nav-link text-dark" asp-area="identity" asp-page="/account/register">Register</a>
     </li> 
     <li class="nav-item">
            <a class="btn btn-success fw-bold px-4 py-2 rounded-pill" asp-area="identity" asp-page="/account/login">Login</a>
        </li> 
 }
</ul>


